body {
    overflow: hidden;
    height: 720px;
    width: 1280px;
    background-image: url("../Images/Background.png");
    background-repeat: no-repeat;
    resize: both;
    background-size: cover;
    background-position: center;
    border: 10px;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
}
.button {
    margin: 5px;
    width: 90%;
    border-radius: 0%;
    cursor: pointer;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: "Lucida Console", "Courier New", monospace;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover {
    background-color: white;
}

.buttonBlock {
    position: relative;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 10%;
    border-style: solid;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border-color: white;
    padding: 10px;
}

.characterBlock {
    display: flex;
    flex-direction: row;
    width: 0%;
    position: relative;
    text-align: center;
    z-index: -1;
    opacity: 0;
    top: 30%;
    left: 50%;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.characterSelect {
    left: 50%;
    position: relative;
    text-align: center;
    min-width: 300px;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    padding: 10px;
    transform: translate(-50%);
}
.characterstats {
    z-index: -1;
    opacity: 0;
    left: 70%;
    position: relative;
    text-align: center;
    width: 430px;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    padding: 10px;
    transform: translate(-50%);
}
.character {
    width: 10%;
    min-width: 100px;
    height: 10%;
    min-height: 100px;
    margin: 5px;
}

.chooseBlock {
    display: flex;
}

.characterBlock img {
    width: 100%;
}
progress {
    -webkit-appearance: none;
    height:40px;
	width:80%;
	margin:0 auto;
	background-color:#dadada;
	border-radius:100px;
}
progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 16px;
    padding-left:50px
}
progress::-webkit-progress-bar {
	height:40px;
	width:80%;
	margin:0 auto;
	border-radius:10px;
}

.health progress::-webkit-progress-value {
    background-color: red;
}

.armor progress::-webkit-progress-value {
    background-color: gray;
}

.strength progress::-webkit-progress-value {
    background-color: orange;
}

.speed progress::-webkit-progress-value {
    background-color: green;
}

.intelligence progress::-webkit-progress-value {
    background-color: blue;
}
